* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.reset {
  display: none;
}

.reset.show {
  display: block;
  position: absolute;
  color: black;
  font-weight: bold;
  background-color: white;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn {
  margin-top: 20px;
  background: transparent;
  border: 0;
  outline: none;
  border: 3px solid #111;
  padding: 5px 8px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  transform: scale(0.95);
}

.display-level {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 50%;
  height: 100px;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  animation: intro 2s ease-in-out forwards;
}

.display-level span {
  color: red;
  font-size: 2.5rem;
  font-weight: 800;
  margin-left: 1rem;
}

@keyframes intro {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 350px) {
  .display-level {
    font-size: 1rem;
  }
  span {
    font-size: 1.5rem;
  }

  .reset.show {
    font-size: 1rem;
  }
}
